

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
  border-radius: 12px;
  max-width: 80%;
  width: 350px;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: white;
  animation: toastIn 0.5s ease-in-out;
}

.toast.show {
  opacity: 1;
  visibility: visible;
  animation: toastIn 0.5s ease-in-out;
}


.toast.hide {
  opacity: 0;
  visibility: hidden;
  animation: toastOut 0.5s ease-in-out forwards;
}


.toast-body {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
}


.toast.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
